<nav id="ac_navbar" class="animate__animated animate__slideInLeft">
  <div class="account-menu-trigger nav_block-bg"></div>
  <div class="nav_block">
    <div class="ac_navbar_close">
      <button type="button" class="navbar-toggler">
        <span class="icon_width">
          <img src="img/account/close-nav-icon.svg" alt="Icon">
        </span>
      </button>
    </div>
    <div class="last_visit server_time mt-0 mb-5 d-lg-none">
      <div class="head_user_box">
        <div class="welcome">Welcome</div>
        <div class="user_name">C12 demo</div>
      </div>
    </div>
    <ul class="list-unstyled navigation">
      <li>
        <a href="account-home.html" class='active'>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/account-icon.png" alt="Account icon">
            </span>
            <span class="text">Account</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-invest.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/invest-icon.png" alt="Invest icon">
            </span>
            <span class="text">Invest</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-withdraw.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/withdraw-icon.png" alt="Withdraw icon">
            </span>
            <span class="text">Withdraw</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-statistics.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/statistic-icon.png" alt="Statistic icon">
            </span>
            <span class="text">Statistics</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-affiliates.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/affilates-icon.png" alt="Affilates icon">
            </span>
            <span class="text">Affilates</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-settings.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/settings-icon.png" alt="Settings icon">
            </span>
            <span class="text">Settings</span>
          </span>
        </a>
      </li>
      
    </ul>
    <ul class="list-unstyled nav_info">
      <!-- 
        <li>
          <div class="lang_choose">
            <select class="simple-select select_language">
              <option value="en" selected new_url='/account?language=en'>English</option>
            </select>
          </div>						
        </li> 
      -->
      <li>
        <a href="#" class="head_support" target='_blank'>
          <span class="cl_white">
            <i class="fa-brands fa-telegram"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="faq.html" class="head_support" target='_blank'>
          <span class="cl_white">FAQ</span>
        </a>
      </li>
      <li>
        <a href="contact-us.html" class="head_support" target='_blank'>
          <span class="cl_white">Tech Support 24/7</span>
        </a>
      </li>
    </ul>

    <!-- <div class="last_visit">
      <a href='#' class="time call_modal" modal='review_list'>Write a review</a>
    </div> -->
    <div class="last_visit server_time d-sm-none d-flex">
      <div class="acc_logo_stats_ d-flex">
        <div class="cl_white acc_logo_stats_days ms-0">
          Days online: <span class="cl_orange">164</span>
        </div>
        
        <div class="cl_white acc_logo_stats_deps">
          Deposited: <span class="cl_red">$9,587,132</span>
        </div>
      </div>
    </div>
    
    <div class="last_visit server_time">
      <div class="visit_label">Latest visit</div>
      <div class="time">N/A</div>
    </div>
    
    <div class="last_visit server_time">
      <div class="visit_label">Server Time</div>
      <div class="time">21 Apr 2023 17:51</div>
    </div>

    <div class="last_visit server_time d-lg-none">
      <a href="main.html" class="">
        Logout &nbsp;
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </div>

    
  </div>
</nav>