<div class="bg-spheres">
  <span class="bg-sphere bg-sphere--color-secondary"></span>
  <span class="bg-sphere bg-sphere--color-main"></span>
  <span class="bg-sphere bg-sphere--color-secondary"></span>
  <span class="bg-sphere bg-sphere--color-main"></span>
  <span class="bg-sphere bg-sphere--color-secondary"></span>
  <span class="bg-sphere bg-sphere--color-main"></span>
  <span class="bg-sphere bg-sphere--color-secondary"></span>
  <span class="bg-sphere bg-sphere--color-main"></span>
  <span class="bg-sphere bg-sphere--color-main"></span>
</div>