
		<!-- <div data-w-id="9d957147-ff91-8d48-475f-5cc00326844f" class="section cta-section">
			<div class="cta-info-container">
				<h2 class="h2 cta-h2">Work faster.</h2>
				<p class="p-codec-cold p-cta">Mighty loads pages faster, finds docs quickly, and remains snappy with hundreds tabs
					to make you more productive at work.</p><a data-download-gate="1"
					data-w-id="9d957147-ff91-8d48-475f-5cc003268455" href="/download" class="cta-button w-inline-block"
					style="min-width: 0px;">
					<div data-w-id="9d957147-ff91-8d48-475f-5cc003268456">
						Download Now</div>
				</a>
			</div>
			<div class="cta-bg-container"><img src="img/cta-bg-small.png" loading="eager"
					srcset="img/cta-bg-small-p-500.png 500w, img/cta-bg-small-p-800.png 800w, img/cta-bg-small-p-1080.png 1080w, img/cta-bg-small.png 1500w"
					sizes="(max-width: 1439px) 100vw, (max-width: 1919px) 1800px, 2000px" alt="abstract brand logo" class="cta-bg"
					>
			</div>
		</div> -->