<div class="footer">
  <div class="container footer-info-container">
    <div class="footer-spacer">
      <a href="main.html" aria-current="page" class="footer-logo-link w-inline-block w--current">
        <img src="img/mighty-logo.svg" loading="eager" alt="white mighty logo" class="footer-logo">
      </a>
    </div>
    <div class="footer-links-container">
      <a href="privacy.html" class="footer-link">Privacy statement</a>
      <a href="/terms" class="footer-link">Terms of service</a>
      <a href="#" target="_blank" class="footer-link">We're hiring!</a>
      <a href="mailto:support@mightyapp.com" class="footer-link">Contact us</a>
    </div>
    <div class="footer-spacer flex-align-right">
      <a href="https://twitter.com/mightyapp" target="_blank"
        class="social-link w-inline-block">
        <img src="img/footer-twitter.svg"
          loading="eager" alt="twitter logo" class="social-icon">
      </a>
      <a href="https://www.linkedin.com/company/mightyapp" target="_blank" class="social-link is-linkedin-link w-inline-block">
        <img
          src="img/footer-linkedin.svg" loading="eager" alt="linkedin logo"
          class="social-icon is-linkedin">
      </a>
    </div>
  </div>
</div>