<html data-wf-page="605cf560c1c73e8fff95cfc8" lang="en">
	<!-- class="w-mod-js wf-roboto-n4-active wf-robotomono-n7-active wf-robotomono-n2-active wf-robotomono-n6-active wf-robotomono-n3-active wf-robotomono-n4-active wf-robotomono-n5-active wf-robotomono-i1-active wf-roboto-n3-active wf-roboto-i3-active wf-roboto-n5-active wf-roboto-n7-active wf-roboto-n9-active wf-inter-n2-active wf-inter-n3-active wf-inter-n7-active wf-inter-n5-active wf-inter-n8-active wf-inter-n1-active wf-inter-n4-active wf-inter-n9-active wf-inter-n6-active wf-roboto-n1-active wf-active w-mod-ix" -->
<head>
	<meta charset="utf-8">
	<title>Mighty | A new browser to work faster</title>
	<meta content="Mighty is a new browser for work that loads pages faster, saves you time, and makes you more productive." name="description">
	<meta content="Mighty | A new browser to work faster" property="og:title">
	<meta content="Mighty is a new browser for work that loads pages faster, saves you time, and makes you more productive." property="og:description">
	<!-- <meta content="img/opengraph.png" property="og:image">
	<meta content="Mighty | A new browser to work faster" property="twitter:title"> -->
	<meta content="Mighty is a new browser for work that loads pages faster, saves you time, and makes you more productive." property="twitter:description">
	<meta content="img/opengraph.png" property="twitter:image">
	<meta property="og:type" content="website">
	<meta content="summary_large_image" name="twitter:card">
	<meta content="width=device-width, initial-scale=1" name="viewport">

	//= template/head.html
<link rel="stylesheet" href="styles/main.css">
</head>