<link rel="stylesheet" href="libs/light-border.css">

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<link rel="stylesheet" href="libs/stack-glitch-effect-css-only/style.css">

<link href="libs/mighty/mightyapp.css" rel="stylesheet" type="text/css">
<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="img/webclip.png" rel="apple-touch-icon">
<link rel="stylesheet" href="libs/account/formstyler/formstyler.css">
<link rel="stylesheet" href="libs/account/formstyler/formstyler.theme.css">