<div data-animation="over-right" class="navbar w-nav" data-easing2="ease" data-easing="ease-out-quart"
  data-collapse="medium" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1"
  style="will-change: background; background-color: rgba(62, 13, 100, 0.97);">
  <div class="navbar-container w-container">
    <a href="main.html" aria-current="page" class="nav-logo-link w-nav-brand w--current" aria-label="home">
      <img src="img/mighty-logo.svg" loading="eager" alt="white mighty logo" class="image">
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="nav-menu-group">
        <a href="main.html" class="nav-link w--current">Home</a>
        <a href="faq.html" class="nav-link">FAQ</a>
        <a href="signup.html" class="nav-link">Sign UP</a>
        <a href="login.html" target="_blank" class="nav-link">Login</a>
        <a href="#" target="_blank" class="nav-link">Feedback</a>
        <a data-download-gate="1" data-w-id="6e4e0c0e-08aa-738f-6b18-8f02e8b0c933" href="/download" class="secondary-button nav-button w-inline-block" style="min-width: 0px;">
          <div class="nav-button-text">Download Now</div>
          <div class="secondary-button-border left"></div>
          <div class="secondary-button-border right"></div>
          <div class="secondary-button-border top"></div>
          <div class="secondary-button-border bottom"></div>
          <img src="img/nav-button-tl.svg" loading="eager" alt="" class="secondary-button-corner top-left">
          <img src="img/nav-button-bl.svg" loading="eager" alt="" class="secondary-button-corner bottom-left">
          <img src="img/nav-button-br.svg" loading="eager" alt="" class="secondary-button-corner bottom-right">
          <img src="img/nav-button-tr.svg" loading="eager" alt="" class="secondary-button-corner top-right">
        </a>
      </div>
    </nav>
    <div 
      class="menu-button w-nav-button" 
      style="-webkit-user-select: text;" 
      aria-label="menu" 
      role="button" 
      tabindex="0" 
      aria-controls="w-nav-overlay-1" 
      aria-haspopup="menu" 
      aria-expanded="false">
    </div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-1"></div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-1"></div>
</div>