<div 
  data-animation="over-right" 
  class="navbar w-nav navbar--auth" 
  data-easing2="ease" 
  data-easing="ease-out-quart"
  data-collapse="medium" 
  role="banner" 
  data-no-scroll="1" 
  data-duration="400" 
  data-doc-height="1"
>
  <div class="navbar-container w-container">
    <a 
      href="main.html" 
      aria-current="page" 
      class="nav-logo-link w-nav-brand w--current" 
    >
      <img 
        src="img/mighty-logo.svg" 
        loading="eager" 
        alt="white mighty logo" 
        class="image"
      >
    </a>
    <div class="acc_logo_stats_">
      <div class="cl_white acc_logo_stats_days">
        Days online: <span class="cl_orange">164</span>
      </div>
      
      <div class="cl_white acc_logo_stats_deps">
        Deposited: <span class="cl_red">$9,587,132</span>
      </div>
    </div>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="nav-menu-group">

        <a href="faq.html" class="nav-link d-xl-flex d-lg-none">FAQ</a>
        <a href="contact-us.html" class="nav-link d-xl-flex d-lg-none">Tech Support 24/7</a>
        <a href="#" class="nav-link nav-link--tg d-xl-flex d-lg-none">
          <i class="fa-brands fa-telegram"></i>
        </a>

        <div class="nav-link">
          <div class="head_user_box">
            <div class="welcome">Welcome</div>
            <div class="user_name">C12 demo</div>
          </div>
        </div>
        
        <a href="main.html" class="nav-link">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        
        <!-- //= template/button-download.html -->
      </div>
    </nav>
    <div class="menu-button account-menu-trigger"></div>
  </div>
</div>