<div 
  data-animation="over-right" 
  class="navbar w-nav" 
  data-easing2="ease" 
  data-easing="ease-out-quart"
  data-collapse="medium" 
  role="banner" 
  data-no-scroll="1" 
  data-duration="400" 
  data-doc-height="1"
  style="will-change: background; background-color: rgba(70, 14, 113, 0.97);"
>

  <div class="navbar-container w-container">
    <a href="main.html" aria-current="page" class="nav-logo-link w-nav-brand w--current" aria-label="home">
      <img src="img/mighty-logo.svg" loading="eager" alt="white mighty logo" class="image">
    </a>
    <div class="acc_logo_stats_">
      <div class="cl_white acc_logo_stats_days">
        Days online: <span class="cl_orange">164</span>
      </div>
      
      <div class="cl_white acc_logo_stats_deps">
        Deposited: <span class="cl_red">$9,587,132</span>
      </div>
    </div>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="nav-menu-group">

        <a href="faq.html" class="nav-link d-xl-flex d-lg-none">FAQ</a>
        <a href="contact-us.html" class="nav-link d-xl-flex d-lg-none">Tech Support 24/7</a>
        <a href="#" class="nav-link nav-link--tg d-xl-flex d-lg-none">
          <i class="fa-brands fa-telegram"></i>
        </a>

        <div class="nav-link">
          <div class="head_user_box">
            <div class="welcome">Welcome</div>
            <div class="user_name">C12 demo</div>
          </div>
        </div>
        
        <a href="main.html" class="nav-link">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        
        <a data-download-gate="1" data-w-id="6e4e0c0e-08aa-738f-6b18-8f02e8b0c933" href="/download" class="secondary-button nav-button w-inline-block" style="min-width: 0px;">
          <div class="nav-button-text">Download Now</div>
          <div class="secondary-button-border left"></div>
          <div class="secondary-button-border right"></div>
          <div class="secondary-button-border top"></div>
          <div class="secondary-button-border bottom"></div>
          <img src="img/nav-button-tl.svg" loading="eager" alt="" class="secondary-button-corner top-left">
          <img src="img/nav-button-bl.svg" loading="eager" alt="" class="secondary-button-corner bottom-left">
          <img src="img/nav-button-br.svg" loading="eager" alt="" class="secondary-button-corner bottom-right">
          <img src="img/nav-button-tr.svg" loading="eager" alt="" class="secondary-button-corner top-right">
        </a>
      </div>
    </nav>
    <div class="menu-button account-menu-trigger"></div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-1"></div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-1"></div>
</div>