<div 
  class="navbar w-nav" 
  data-easing2="ease" 
  data-easing="ease-out-quart"
  data-collapse="medium" 
  role="banner" 
  data-no-scroll="1" 
  data-duration="400" 
  data-doc-height="1"
>
  <div class="navbar-container w-container">
    <a 
      href="main.html" 
      aria-current="page" 
      class="nav-logo-link w-nav-brand w--current" 
    >
      <img 
        src="img/mighty-logo.svg" 
        loading="eager" 
        alt="white mighty logo" 
        class="image"
      >
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="nav-menu-group">
        <a href="main.html" class="nav-link w--current">Home</a>
        <a href="faq.html" class="nav-link">FAQ</a>
        <a href="signup.html" class="nav-link">Sign UP</a>
        <a href="login.html" target="_blank" class="nav-link">Login</a>
        <a href="#" target="_blank" class="nav-link">Feedback</a>
        <!-- //= template/button-download.html -->
      </div>
    </nav>
    <div class="menu-button w-nav-button"></div>
  </div>
</div>