	<!-- <script src="libs/mighty/mightyapp.js" type="text/javascript"></script> -->
	<script src="libs/jquery.min.js" type="text/javascript"></script>
	<script src="libs/tilt.jquery.js"></script>
  <script src="https://kit.fontawesome.com/d640891652.js" crossorigin="anonymous"></script>
	<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="libs/parallax.js"></script>
	<script src="libs/imask.js"></script>
	<script src="libs/account/formstyler/formstyler.js"></script>
	<script src="scripts/app.js" defer></script>









	<div class="modal fade" id="codeBanner" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
	
				<div class="modal__title">Banner 728x90</div>
				<div class="modal_body">
					<div class="banner_link_section">
						<div class="label">Link to banner</div>
						<div class="form-group">
							<textarea id="banner_link" class="form-control banner_link_code text-field">https://c12.net/assets/img/banners/en/001_728_90.gif</textarea>
						</div>
						<button 
							class="js-copy modal_btn anim btn_bordered" 
							data-clipboard-action="copy"
							data-clipboard-target="#banner_link"
						>Copy</button>
					</div>
	
					<div class="banner_link_section">
						<div class="label">Banner code</div>
						<div class="form-group">
							<textarea id="banner_code" class="form-control banner_link_code text-field">&lt;div&gt;&lt;a href='https://c12.net/?ref=' target='_blank'&gt;&lt;img src='https://c12.net/assets/img/banners/en/001_728_90.gif' alt='Banner 728x90' /&gt;&lt;/a&gt;&lt;/div&gt;</textarea>
						</div>
						<button 
							class="js-copy modal_btn anim btn_bordered" 
							data-clipboard-action="copy"
							data-clipboard-target="#banner_code">
								Copy
						</button>
					</div>
	
				</div>
	
		
			</div>
		</div>
	</div>
	<div class="modal fade" id="previewBanner" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal__title">Banner 468x60</div>
				<div class="modal_body">
					<div class="banner_box_">
						<img src="img/banner.gif" alt="Banner" class="banner_box__desktop">
						<img src="img/opengraph.png" alt="Banner" class="banner_box__mobile">
					</div>
	
					<div class="modal_footer">
						<a 
							href="img/banner.gif" 
							class="banner_image_preview" 
							target="_blank"
						>Full-size preview (new window)</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="qrModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal_body">
					<div class="banner_link_section pt-0">
						<div class="form-group">
							<div class="modal__qr">
								<img src="img/qr-big.png" alt="qr code" class="modal__qr-img">
							</div>
						</div>
						<button 
							class="js-copy modal_btn anim btn_bordered" 
							data-clipboard-action="copy"
							data-clipboard-target="#banner_link"
							data-bs-dismiss="modal"
						>Done. Hide the code.</button>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="modal fade" id="cancelDeposit" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				
		
				<div class="modal__title">
					Confirm cancel deposit
				</div>
				<div class="content__title">
					You are about to cancel deposit operation:<br>
				</div>
				<div class="content__subtitle">
					Deposit of <span style="color:#ff8a00;">0.00043536 BTC</span>
				</div>
				<div class="modal__footer">
					Are you sure?
				</div>
				<div class="modal__buttons">
					<div class="row">
						<div class="col-6">
							<a 
								class="btn btn_bordered" 
								href="#canceledDeposit" 
								data-bs-dismiss="modal" 
								data-bs-toggle="modal"
							>Yes</a>
						</div>
						<div class="col-6">
							<a class="btn btn_bordered" href="#" data-bs-dismiss="modal">No</a>
						</div>
					</div>
				</div>
			</div>			
		</div>
			
			
	</div>


	<div class="modal fade" id="canceledDeposit" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal__title">SYSTEM MESSAGE</div>
				<div class="modal_body">
					<div class="content_title modal_message mb-5">Deposit has been cancelled.</div>
				</div>
				<a href="#" data-bs-dismiss="modal" class="anim modal_btn modal_close btn_bordered">Got it</a>
			</div>
		</div>
	</div>


			
