<!-- <div data-animation="over-right" class="navbar w-nav" data-easing2="ease" data-easing="ease-out-quart"
  data-collapse="none" role="banner" data-no-scroll="1" data-duration="400" data-doc-height="1"
  style="will-change: background; background-color: rgba(62, 13, 100, 0.97);">
  <div class="navbar-container w-container"><a href="/" aria-current="page"
      class="nav-logo-link w-nav-brand w--current" aria-label="home"><img
        src="img/mighty-logo.svg" loading="lazy" alt="white mighty logo"
        class="image"></a>
    <nav role="navigation" class="alt-nav-menu w-nav-menu"><a data-w-id="c09e8d7f-c3f2-9d3e-449e-fc2ef30f6790"
        href="/" aria-current="page" class="secondary-button nav-button alt-nav-button w-inline-block w--current">
        <div class="nav-button-text alt-page"
          style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
          Go Home</div>
        <div class="secondary-button-border left"></div>
        <div class="secondary-button-border right"></div>
        <div class="secondary-button-border top"></div>
        <div class="secondary-button-border bottom"></div><img src="img/nav-button-tl.svg"
          loading="lazy" alt="" class="secondary-button-corner top-left"><img
          src="img/nav-button-bl.svg" loading="lazy" alt=""
          class="secondary-button-corner bottom-left"><img src="img/nav-button-br.svg"
          loading="lazy" alt="" class="secondary-button-corner bottom-right"><img
          src="img/nav-button-tr.svg" loading="lazy" alt=""
          class="secondary-button-corner top-right">
      </a></nav>
    <div class="menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
      tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false"></div>
  </div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div> -->

	<script src="libs/jquery.min.js" type="text/javascript"></script>
	<script src="libs/mightyapp.js" type="text/javascript"></script>
  <script src="https://kit.fontawesome.com/d640891652.js" crossorigin="anonymous"></script>
	<!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
	<div class="w-lightbox-backdrop w-lightbox-hide" style="transition: opacity 300ms ease 0s; opacity: 0;">
		<div class="w-lightbox-container">
			<div class="w-lightbox-content">
				<div class="w-lightbox-spinner w-lightbox-hide" role="progressbar" aria-live="polite" aria-hidden="true"
					aria-busy="false" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" aria-valuetext="Loaded image">
				</div>
				<div class="w-lightbox-control w-lightbox-left w-lightbox-inactive" role="button" aria-hidden="true"
					aria-controls="w-lightbox-view" aria-label="previous image" tabindex="-1"></div>
				<div class="w-lightbox-control w-lightbox-right w-lightbox-inactive" role="button" aria-hidden="true"
					aria-controls="w-lightbox-view" aria-label="next image" tabindex="-1"></div>
				<div class="w-lightbox-control w-lightbox-close" role="button" aria-label="close lightbox" tabindex="0"></div>
			</div>
			<div class="w-lightbox-strip" role="tablist"></div>
		</div>
	</div>
	<script src="scripts/app.js" defer></script>