.bg-spheres {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: $dark;
}

.bg-sphere {
  width: 1600px;
  height: 1600px;
  display: flex;
  position: absolute;
  z-index: 1;
  display: none;
  -webkit-animation-name: pulse3;
          animation-name: pulse3;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  //backdrop-filter: blur(30px);
  @media(max-width: $xl){
    
  }
  @media(max-width: $lg){
    width: 1200px;
    height: 1200px;
  }
  @media(max-width: $md){
    width: 800px;
    height: 800px;
  }
  @media(max-width: $sm){
    width: 600px;
    height: 600px;
  }
  @media(max-width: $xs){
  
  }
  
  &--color-main {
    background: radial-gradient(ellipse at center, rgba(0, 125, 254, 0.2) 0%, rgba(157,78,108,0) 68%, rgba(231,56,39,0) 100%);
    
    //background: url(../img/sphere-main.png) center no-repeat;
    background-size: contain;
  }
  &--color-secondary {
    background: radial-gradient(ellipse at center, rgba(195, 65, 255, 0.2) 0%, rgba(219,59,108,0) 68%, rgba(231,56,39,0) 100%);
    
    //background: url(../img/sphere-secondary.png) center no-repeat;
    background-size: contain;
  }
  &:nth-of-type(1) {
    top: -300px;
    left: -300px;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  &:nth-of-type(2) {
    top: -300px;
    left: -300px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
  }
  &:nth-of-type(3) {
    top: 300px;
    right: -300px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  &:nth-of-type(4) {
    top: 300px;
    right: -300px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }
  &:nth-of-type(5) {
    top: 900px;
    right: 0px;
    left: 0px;
    margin: auto;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
  }
  &:nth-of-type(6) {
    top: 900px;
    right: 0px;
    left: 0px;
    margin: auto;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
  }
  &:nth-of-type(7) {
    top: 1500px;
    left: 0px;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  &:nth-of-type(8) {
    top: 1500px;
    left: 0px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
  }
  
  &:nth-of-type(9) {
    top: 2100px;
    right: 0px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  &:nth-of-type(10) {
    top: 2100px;
    right: 0px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }


  &:nth-of-type(11) {
    top: 2700px;
    left: -200px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
  }
  &:nth-of-type(12) {
    top: 2700px;
    left: -200px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
  }

  &:nth-of-type(13) {
    top: 3300px;
    right: -200px;
    -webkit-animation-delay: -1.5s;
            animation-delay: -1.5s;
  }
  &:nth-of-type(14) {
    top: 3300px;
    right: -200px;
    -webkit-animation-delay: -3.5s;
            animation-delay: -3.5s;
  }

  
  &:nth-of-type(15) {
    top: 3900px;
    right: 0px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
  }
  &:nth-of-type(16) {
    top: 3900px;
    right: 0px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }


  &:nth-of-type(17) {
    top: -600px;
    right: -600px;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  &:nth-of-type(18) {
    top: -600px;
    right: -600px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
  }
}