.navbar {
  background-color: transparent !important;
  border-bottom: 1px solid transparent;
  transition: all .4s;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:before, &:after {
      display: none;
    }
  }
  .nav-logo-link {
    margin-left: 0;
    margin-right: 0;
  }
  .acc_logo_stats_ {
    margin: auto;
  }
  &.open, &.scrolled {
    background-color: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(20px);
    border-color: $color-secondary;
  }
  &--auth {
    border-color: $color-secondary;
  }
}
.account-menu-trigger {
  cursor: pointer;
}
.menu-button.account-menu-trigger {
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
    z-index: 999;
    width: 50px;
    height: 100%;
    padding: 0;
    background-image: url(../img/menu-open.svg);
    background-position: 100% 50%;
    background-size: 30px;
    background-repeat: no-repeat;
    &.active {
      background-image: url(../img/menu-close.svg);
    }
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
}

.navbar-container  {
  .head_user_box {
    * {
      -webkit-text-fill-color: white;
    }
  }
}
#ac_navbar {
  .head_user_box {
    padding-top: 20px;
  }
}
.nav_block {
  position: relative;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
    
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
}
.nav_block-bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

#ac_navbar {
  @media(max-width: $xl){
    
  }
  @media(max-width: $lg){
    z-index: 1030;
    height: 100vh;
    top: 0;
    transform: none;
    transition: all 0.4s;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    transform: translateX(-100vw);

    &.show {
      transform: translateX(0vw);
      .nav_block-bg {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
}
