.ac_content {
  * {
    
  }


  
}


.ac_page {
  padding-left: 15px;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
    padding-right: 15px;
    padding-left: 15px;
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  .breadcrumbs {

  }
  .breadcrumb {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      padding-left: 0;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__body {
    margin-left: 0;
    margin-right: 0;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      padding-left: 0;
      padding-right: 0;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    .r_side {
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
        padding: 0;
      }
      @media(max-width: $md){
        
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
  }

  .tabs {
    &__header {
      margin-bottom: 1.5rem;
      gap: 2.6rem;
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
      
      }
      @media(max-width: $md){
        gap: 1.8rem;
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
        justify-content: space-between;
      }
      
    }
    &__header-el {
      border: 1px solid #555069;
      min-height: 3rem;
      height: auto;
      transition: all 0.3s;
      font-size: 1.4rem;
      text-transform: uppercase;
      //border: none;
      padding: 0.8rem 1rem 0.5rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      &:before, &:after {
        display: none !important;
      }
      
      &.active, &:not([disabled]):hover {
        border: 1px solid #fd9546 !important;
        color: $color-secondary;
        background: transparent !important;
      }
    }
    .border_box {
      & > .row {
        @media(max-width: $xl){
        
        }
        @media(max-width: $lg){
        
        }
        @media(max-width: $md){
          
        }
        @media(max-width: $sm){
        
        }
        @media(max-width: $xs){
          margin: 0;
        }
        
      }
      .col {
        
      }
      .paginator_content {

      }
    }
    .tab-content {

    }
    .tab-pane {

    }
  }
}