<nav id="ac_navbar" class="animate__animated animate__slideInLeft">
  <div class="account-menu-trigger nav_block-bg"></div>
  <div class="nav_block">
    <div class="ac_navbar_close">
      <button type="button" class="navbar-toggler">
        <span class="icon_width">
          <img src="img/account/close-nav-icon.svg" alt="Icon">
        </span>
      </button>
    </div>
    <div class="last_visit server_time mt-0 mb-5 d-lg-none">
      <div class="head_user_box">
        <div class="welcome">Welcome</div>
        <div class="user_name">C12 demo</div>
      </div>
    </div>
    <ul class="list-unstyled navigation">
      <li>
        <a href="account-home.html" class="active">
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/account-icon.png" alt="Account icon">
            </span>
            <span class="text">Account</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-invest.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/invest-icon.png" alt="Invest icon">
            </span>
            <span class="text">Invest</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-withdraw.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/withdraw-icon.png" alt="Withdraw icon">
            </span>
            <span class="text">Withdraw</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-statistics.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/statistic-icon.png" alt="Statistic icon">
            </span>
            <span class="text">Statistics</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-affiliates.html" class=''>
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/affilates-icon.png" alt="Affilates icon">
            </span>
            <span class="text">Affilates</span>
          </span>
        </a>
      </li>
      <li>
        <a href="account-settings.html">
          <span class="iconed_text">
            <span class="icon_height">
              <img src="img/account/settings-icon.png" alt="Settings icon">
            </span>
            <span class="text">Settings</span>
          </span>
        </a>
      </li>
      
    </ul>
    <ul class="list-unstyled nav_info">
      <!-- 
        <li>
          <div class="lang_choose">
            <select class="simple-select select_language">
              <option value="en" selected new_url='/account?language=en'>English</option>
            </select>
          </div>						
        </li> 
      -->
      <li>
        <a href="#" class="head_support" target='_blank'>
          <span class="cl_white">
            <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.2956 0.143472C18.2956 0.143472 20.1456 -0.559918 19.9908 1.14818C19.9399 1.85157 19.4775 4.31367 19.1175 6.97634L17.8842 14.8645C17.8842 14.8645 17.7813 16.0201 16.8561 16.2212C15.9313 16.4217 14.5437 15.5178 14.2866 15.3167C14.0809 15.1658 10.4324 12.9048 9.14763 11.7998C8.78763 11.498 8.37621 10.8954 9.19906 10.192L14.5947 5.16749C15.2114 4.56485 15.828 3.15807 13.2585 4.86617L6.06339 9.639C6.06339 9.639 5.24102 10.1418 3.69961 9.68961L0.358706 8.68443C0.358706 8.68443 -0.874609 7.9309 1.2325 7.17737C6.37195 4.81602 12.6933 2.40453 18.2946 0.143472H18.2956Z" fill="white"/>
            </svg>
            CHAT
          </span>
        </a>
      </li>
      <li>
        <a href="contact-us.html" class="head_support" target='_blank'>
          <span class="cl_white">
            <i class="fas fa-headset"></i>
            SUPPORT
          </span>
        </a>
      </li>
      <li>
        <a href="faq.html" class="head_support" target='_blank'>
          <span class="cl_white">FAQ</span>
        </a>
      </li>
      
    </ul>

    <!-- <div class="last_visit">
      <a href='#' class="time call_modal" modal='review_list'>Write a review</a>
    </div> -->
    <div class="last_visit server_time d-sm-none d-flex">
      <div class="acc_logo_stats_ d-flex">
        <div class="cl_white acc_logo_stats_days ms-0">
          Days online: <span class="cl_orange">164</span>
        </div>
        <div class="cl_white acc_logo_stats_deps">
          Users: <span class="cl_green">30,894</span>
        </div>
        <div class="cl_white acc_logo_stats_deps">
          Deposited: <span class="cl_red">$9,587,132</span>
        </div>
      </div>
    </div>
    
    <div class="last_visit server_time">
      <div class="visit_label">Latest visit</div>
      <div class="time">N/A</div>
    </div>
    
    <div class="last_visit server_time">
      <div class="visit_label">Server Time</div>
      <div class="time">21 Apr 2023 17:51</div>
    </div>

    <div class="last_visit server_time d-lg-none">
      <a href="index.html" class="">
        Logout &nbsp;
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    </div>

    
  </div>
</nav>