<a data-download-gate="1" data-w-id="6e4e0c0e-08aa-738f-6b18-8f02e8b0c933" href="/download" class="secondary-button nav-button w-inline-block" style="min-width: 0px;">
  <div class="nav-button-text">Download Now</div>
  <div class="secondary-button-border left"></div>
  <div class="secondary-button-border right"></div>
  <div class="secondary-button-border top"></div>
  <div class="secondary-button-border bottom"></div>
  <img src="img/nav-button-tl.svg" loading="eager" alt="" class="secondary-button-corner top-left">
  <img src="img/nav-button-bl.svg" loading="eager" alt="" class="secondary-button-corner bottom-left">
  <img src="img/nav-button-br.svg" loading="eager" alt="" class="secondary-button-corner bottom-right">
  <img src="img/nav-button-tr.svg" loading="eager" alt="" class="secondary-button-corner top-right">
</a>