<div 
  data-animation="over-right" 
  class="navbar w-nav navbar--auth scrolled" 
  data-easing2="ease" 
  data-easing="ease-out-quart"
  data-collapse="medium" 
  role="banner" 
  data-no-scroll="1" 
  data-duration="400" 
  data-doc-height="1"
>
  <div class="navbar-container w-container">
    <a 
      href="index.html" 
      aria-current="page" 
      class="nav-logo-link w-nav-brand w--current" 
    >
      <img 
        src="img/mighty-logo.svg" 
        loading="eager" 
        alt="white mighty logo" 
        class="image"
      >
    </a>
    <div class="acc_logo_stats_">
      <div class="cl_white acc_logo_stats_deps">
        Days online: <span class="cl_orange">164</span>
      </div>
      
      <div class="cl_white acc_logo_stats_deps">
        Users: <span class="cl_green">30,894</span>
      </div>
      
      <div class="cl_white acc_logo_stats_deps">
        Deposited: <span class="cl_red">$9,587,132</span>
      </div>

      
    </div>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="nav-menu-group">

        <a href="faq.html" class="nav-link d-xl-flex d-lg-none">FAQ</a>
        <a href="#" target="_blank" class="nav-link d-xl-flex d-lg-none">
          <!-- <i class="fas fa-comment-dots"></i>  -->
          <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.2956 0.143472C18.2956 0.143472 20.1456 -0.559918 19.9908 1.14818C19.9399 1.85157 19.4775 4.31367 19.1175 6.97634L17.8842 14.8645C17.8842 14.8645 17.7813 16.0201 16.8561 16.2212C15.9313 16.4217 14.5437 15.5178 14.2866 15.3167C14.0809 15.1658 10.4324 12.9048 9.14763 11.7998C8.78763 11.498 8.37621 10.8954 9.19906 10.192L14.5947 5.16749C15.2114 4.56485 15.828 3.15807 13.2585 4.86617L6.06339 9.639C6.06339 9.639 5.24102 10.1418 3.69961 9.68961L0.358706 8.68443C0.358706 8.68443 -0.874609 7.9309 1.2325 7.17737C6.37195 4.81602 12.6933 2.40453 18.2946 0.143472H18.2956Z" fill="white"/>
          </svg>
          chat
        </a>
        <a href="contact-us.html" target="_blank" class="nav-link d-xl-flex d-lg-none">
          <i class="fas fa-headset"></i>
          support
        </a>
        <!-- <a href="#" class="nav-link nav-link--tg d-lg-none d-xl-flex">
          <i class="fa-brands fa-telegram"></i>
        </a> -->

        <div class="nav-link">
          <div class="head_user_box">
            <div class="welcome">Welcome</div>
            <div class="user_name">C12 demo</div>
          </div>
        </div>
        
        <a href="index.html" class="nav-link">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        
        <!-- //= template/button-download.html -->
      </div>
    </nav>
    <div class="menu-button account-menu-trigger"></div>
  </div>
</div>