* {
  text-decoration: none;
  font-family: $font-main;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $dark;
  z-index: 1000;
  display: flex;
  &.hidden {
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    margin: auto;
    -webkit-animation: pulse 1s 0s linear alternate infinite;
            animation: pulse 1s 0s linear alternate infinite;
  }
}
.opacity-1 {
  opacity: 1 !important;
}
.overflow-hidden {
  overflow: hidden;
  &--lg {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      overflow: hidden;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
}
.d-flex {
  display: flex;
}



body {
  font-family: Codec-Cold;
  background: #1c0531;
  // url("../img/bg-lines.svg") center no-repeat
  position: relative;
}
* {
  outline: none !important;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.bg-img {
    &::before {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../img/hero-main.jpg) center no-repeat;
      background-size: cover;
      content: '';
      opacity: 0.1;
    }
  }
}

.particles-js-canvas-el {
  position: absolute;
}


.ac_page {
  padding-left: 15px;
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
    padding-right: 15px;
    padding-left: 15px;
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
  .breadcrumbs {

  }
  .breadcrumb {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      padding-left: 0;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
  &__body {
    margin-left: 0;
    margin-right: 0;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      padding-left: 0;
      padding-right: 0;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
    .r_side {
      @media(max-width: $xl){
      
      }
      @media(max-width: $lg){
        padding: 0;
      }
      @media(max-width: $md){
        
      }
      @media(max-width: $sm){
      
      }
      @media(max-width: $xs){
      
      }
      
    }
  }

  .tabs {
    &__header {
      margin-bottom: 16px;
    }
    &__header-el {
      border: 1px solid #555069;
      height: 40px;
      transition: all 0.4s;
      &:before {
        display: none;
      }
      
      &.active, &:not([disabled]):hover {
        border: 1px solid white !important;
        color: $color-secondary;
        background: transparent !important;
      }
    }
    .border_box {
      & > .row {

      }
      .col {
        
      }
      .paginator_content {

      }
    }
    .tab-content {

    }
    .tab-pane {

    }
  }
}


.input_label, .payout_label, .field_box_ .label_ {
  color: #dadada;
}

.field_box_.filled_ .label_ {
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    bottom: 4.9375rem;
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
}

.head_support {
  i {
    font-size: 22px;
  }
}



.active_deposit {
  .deposit_balance {

  }
  .deposit_line {

  }
  .deposit_track {

  }
  .line {
    background: $gradient1;
  }
}


.tab.master:not(.active) {
  &:hover {
    color: $color-secondary;
  }
}

.tab.master.active {
  color: $color-secondary;
}

.visibility-hidden {
  visibility: hidden;
}


/* .ac_content {
  input {
    &:focus {
      border-color: #3898ec !important;
    }
  }
} */


.page-bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  content: '';
  object-fit: cover;
  opacity: 0.1;
  //-webkit-animation: pulse-low2 4s 0s linear alternate infinite;
  //animation: pulse-low2 4s 0s linear alternate infinite;
}








body {
 
  
  // I do like these colours
  /* background: 
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */
}