html {
  background: #120322;
  &.menu-open {
    background: rgb(29, 6, 49) !important;
    body {
      background: rgb(29, 6, 49) !important;
    }
  }
}


* {
  text-decoration: none;
  font-family: $font-main;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $dark;
  z-index: 1000;
  display: flex;
  &.hidden {
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    margin: auto;
    -webkit-animation: pulse 1s 0s linear alternate infinite;
            animation: pulse 1s 0s linear alternate infinite;
  }
}
.opacity-1 {
  opacity: 1 !important;
}
.overflow-hidden {
  overflow: hidden;
  &--lg {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
      overflow: hidden;
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
}
.d-flex {
  display: flex;
}



body {
  font-family: Codec-Cold;
  background: #120322;
  // url("../img/bg-lines.svg") center no-repeat
  position: relative;
}
* {
  outline: none !important;
}

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.bg-img {
    &::before {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../img/hero-main.jpg) center no-repeat;
      background-size: cover;
      content: '';
      opacity: 0.1;
    }
  }
}

.particles-js-canvas-el {
  position: absolute;
}





.input_label, .payout_label, .field_box_ .label_ {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.field_box_.filled_ .label_ {
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    bottom: 4.9375rem;
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
  
  }
  
}

.head_support {
  i, svg {
    font-size: 22px;
    position: relative;
    top: -1px;
  }
  .cl_white {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}



.active_deposit {
  .deposit_balance {

  }
  .deposit_line {

  }
  .deposit_track {

  }
  .line {
    background: $gradient1;
  }
  &.check {
    .deposit_line {
      display: none;
    }
    .deposit_balance {
      padding-bottom: 1rem;
    }
    .deposit_term {

    }
  }
}


.tab.master:not(.active) {
  &:hover {
    color: $color-secondary;
  }
}

.tab.master.active {
  color: $color-secondary;
}

.visibility-hidden {
  visibility: hidden;
}


/* .ac_content {
  input {
    &:focus {
      border-color: #3898ec !important;
    }
  }
} */


.page-bg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  content: '';
  object-fit: cover;
  opacity: 0.1;
  //-webkit-animation: pulse-low2 4s 0s linear alternate infinite;
  //animation: pulse-low2 4s 0s linear alternate infinite;
}








body {
 
  
  // I do like these colours
  /* background: 
    radial-gradient(circle at bottom, #fff -30%, transparent 70%),
    linear-gradient(to right, #134a8e, #00b6f1 50%),
    #fff; */
}


.container {
  margin-left: auto;
  margin-right: auto;
}


.invest_qr {
  width: 4rem;
  height: auto;
  border-radius: 0.5rem;
}

.input_text {
  overflow: hidden;
  text-overflow: ellipsis;
}
.trans_amount {
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
    //width: 100%;
  }
  
}
.trans_address {
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }
  @media(max-width: $sm){
  
  }
  @media(max-width: $xs){
    width: 100%;
  }
  
  .input_text {
    @media(max-width: $xl){
      max-width: 200px;
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
}

.trans_invest {
  @media(max-width: $xl){
  
  }
  @media(max-width: $lg){
  
  }
  @media(max-width: $md){
    
  }

  @media(max-width: $sm){
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  @media(max-width: $xs){
  
  }
  
}
.modal  {
  display: none;
}


.banner_box_ {
  &_desktop {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
      display: none;
    }
    
  }
  &_mobile {
    display: none;
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      
    }
    @media(max-width: $sm){
    }
    @media(max-width: $xs){
      display: flex;
    }
    
  }
}

.invest_info {
  &--padding-md-0 {
    @media(max-width: $xl){
    
    }
    @media(max-width: $lg){
    
    }
    @media(max-width: $md){
      padding-left: 0;
    }
    @media(max-width: $sm){
    
    }
    @media(max-width: $xs){
    
    }
    
  }
}



@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  } 
}



.text-block-3-copy {
  background-image: linear-gradient(90deg, #e83390, #fd9546);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.hero-section {
  &__cta {
    width: 100%;
    max-width: 250px;
  }
}




.wallet_total {
  .amount_box {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 10px;
  }
  .reinvest_button {
    color: $color-secondary;
    font-size: 1.25rem;
    animation: reinvestButton 1.5s infinite linear;
    text-transform: uppercase;
  }
}


.show_on_ok {
  display: flex !important;
}